{% extends 'base.html.twig' %}

{% block content %}


 <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <header>
        <h1> {{ article.title }} </h1>
        <img title="{{ article.title }}" alt="{{ articles.title }}" src="{{ article.image}}">
        <small> Written by {{ article.user_id }} on {{ article.created_at }} </small>
    </header>
        <div class="content">
            <p>{{ articles.content }}</p>
        </div>
     <footer>
         <p>Posted in category: <a href="/article?id={{ article.title }}">{{ article.title }}</a></p>
         <p><a href="/tag?id={{ article.title }}"><span class="label label-primary">Primary</span></a></p>
     </footer>
 </article>



{% endblock %}