{% extends 'base.html.twig' %}
{%  block content %}
{% set i = 0 %}
{% for article in articles %}
    {% if article.enabled %}
    {%  if 0 == i is divisibleby (3)  %}
    <div class= "row">
        {% endif%}
        <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">'
            <header>
                <h1><a href="/article.php?id="></a> {{article.id}} </h1>
                <img title="{{article.title}}" alt="{{article.title}}" src="{{article.id}}">
                <small>Written by {{article.user_id}} on {{article.created_at}} </small>
                </header>
            <div class="content">
                <p>{{article.content}}</p>
            </div>
            <footer>
                <p>Posted in category: <a href="/article?id='{{article.category_id}}">{{article.category_id}}</a></p>
                <p><a href="/tag?id='{{article.category_id}}"><span class="label label-primary">Primary</span></a></p>
                </footer>
            </article>

        {% if 2 == i%3%}
        </div>;
        {% endif%}
{% set i= i+1 %}
{% endif %}
{% endfor %}

    <ul class="pagination col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <li {% if 1 == currentPage or null == currentPage %}class="disabled"{% endif %}><a href="index.php?p={{ currentPage-1 }}">&leftarrow;</a></li>

        {% for i in 1..nbPage %}
            <li {% if i == currentPage %}class="active"{% endif %}><a href="index.php?p={{ i }}">{{ i }}</a></li>
        {% endfor %}

        <li {% if nbPage == currentPage or null == currentPage %}class="disabled"{% endif %}><a href="index.php?p={{ currentPage + 1 }}">&rightarrow;</a></li>
    </ul>

    {% endblock %}





